<p>Thanks for participating!</p>

<p>You missed the color questions by an average of <b><%= quiz_round.avg_score(quiz_round.guesses.color, :delta) %>.</b> The crowd missed them by <b><%= quiz_round.quiz.class_average("color") %>.</b>
<p>You missed the value questions by an average of <b><%= quiz_round.avg_score(quiz_round.guesses.value, :l_delta) %>.</b> The crowd missed them by <b><%= quiz_round.quiz.class_average("value") %>.</b>

<p>If you'd like to keep practicing, <%= link_to "create an account.", new_user_registration_path %></p> If you want to play some more images, <%= link_to "go here", images_path %>. Then you can check out your stats <%= link_to "here.", stats_path %></p>

<p><%= link_to "Return to home", root_path %></p>