<%= content_tag(:div, class: "guesswrapper") do %>
    <%= content_tag(:div, "", class: ["semi", "left"], style: "background-color: " + "#{guess.color}")%><%= content_tag(:div, "", class: ["semi", "right"], style: "background-color: " + "#{guess.spot.color}") %>
    <%= content_tag(:h3, "Score: #{Colorable.delta(guess, guess.spot)}")%>
    <%= content_tag(:p) do %>
        <p>Name: <%= guess.try(:guesser).try(:name) || "Guest" %></p>
        <%= content_tag(:p) do %>
            Your LAB: <%= guess.lab[0].round(2) %> / <%= guess.lab[1].round(2) %> / <%= guess.lab[2].round(2) %>
            <br/>
            Real LAB: <%= guess.spot.lab[0].round(2) %> / <%= guess.spot.lab[1].round(2) %> / <%= guess.spot.lab[2].round(2) %>
        <% end %>
        <% deltas = Colorable.deltas(guess, guess.spot) %>
        <b>Lab L delta</b>: <%= deltas[:l] %> | <%= guess.lab[0].round(3) %> / <%= guess.spot.lab[0].round(3) %><br/>
        <b>Lab a delta</b>: <%= (guess.lab[1] - guess.spot.lab[1]).round(3) %> | <%= guess.lab[1].round(3) %> / <%= guess.spot.lab[1].round(3) %><br/>
        <b>Lab b delta</b>: <%= (guess.lab[2] - guess.spot.lab[2]).round(3) %> | <%= guess.lab[2].round(3) %> / <%= guess.spot.lab[2].round(3) %><br/>
        <br/>
        <b>R delta</b>: <%= deltas[:r] %> | <%= guess.rgb.r %> / <%= guess.spot.rgb.r %><br/>
        <b>G delta</b>: <%= deltas[:g] %> | <%= guess.rgb.g %> / <%= guess.spot.rgb.g %><br/>
        <b>B delta</b>: <%= deltas[:b] %> | <%= guess.rgb.b %> / <%= guess.spot.rgb.b %><br/>
        <b>Hue delta</b>: <%= calculate_hue_delta(guess) %> | <%= guess.hue %> / <%= guess.spot.hue %><br/>
        <%= guess.created_at.localtime.strftime('%m/%d/%y, %I:%M %p') %>
        <input type="text" class="compare" value=<%= "#{guess.color}"%> data=<%= "#{guess.spot.color}" %> />
    <% end %>
<% end %>
<script>
    $(".compare").each(function ( index ) {
        var playerGuess = $(this).attr("value");
        var realColor = $(this).attr("data");
        $(this).spectrum({
            showPalette: true,
            palette: [
                [playerGuess, realColor]
            ]
        });
    });
</script>