
<h1>Listing Rounds</h1>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Rounds</th>
      <th>Score</th>
      <th>X</th>
      <th>Radius</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.created_at.localtime.strftime('%m/%d/%y, %I:%M %p') %></td>
        <td><%= link_to image_tag(round.image.img.url(:thumb)), image_path(round.image) %></td>
        <td><%= round.avg_score%></td>
        <td><%= link_to 'Show', round %></td>
        <td><%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>