<%= form_for(round, :remote => true) do |round_form| %>
    <%= round_form.hidden_field :image_id, value: image.id %>
    <%= content_tag :table do %>
        <tr>
            <%= round_form.fields_for :guesses, round.guesses do |round_fields| %>
                <% if round_fields.index == 5 %>
                    </tr>
                    <tr>
                <% end %>
                <td class="guess">
                    <div class="semi left"></div><div class="semi right"></div>
                    <input type='text' class="full" />
                    <%= round_fields.hidden_field :color %>
                    <%= round_fields.hidden_field :format, value: "color" %>
                    <%= round_fields.hidden_field :spot_id, value: image.spots[round_fields.index][:id] %>
                    <% if defined? @quiz_round %>
                      <%= round_fields.hidden_field :quiz_round_id, value: @quiz_round.id %>
                    <% end %>
                    <%= radio_button_tag(:active, round_fields.index) %>
                </td>
            <% end %>
        </tr>
    <% end %>
    <%= submit_tag %>
<% end %>