<h1>Image#index</h1>

<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>
<p> Click the thumbnail to play the image.</p>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Rounds Played</th>
      <th>Par</th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= link_to image_tag(image.img.url(:thumb)), play_image_path(image) %></td>
        <td><%= image.rounds.count %></td>
        <td><%= image.calculate_par %></td>
        <td><%= link_to 'Show', image %></td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Edit', edit_image_path(image) %></td>
          <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>