<header>
  <%= javascript_include_tag "myScript", type: "text/paperscript", canvas: "myCanvas" %>
    <h1>Color Quiz</h1>
</header>

    <%= render partial: "images/canvas", locals: {image: @image, spots: @image.spots} %>

    <%= render partial: "images/colordots", locals: {round: @round, image: @image} %>
    <% if current_user.try(:admin?) %>
        <%= submit_tag value = "Fill circles", id: "defaults" %>
    <% end %>
    
    <div id="roundResults"></div>
    <input type="color"><br>
    <input id="LSlider" type="range" min="0" max="100" step=".01"/><span>50</span><br>
    <input id="aSlider" type="range" min="-100" max="100" step=".01"/><span>0</span><br>
    <input id="bSlider" type="range" min="-100" max="100" step=".01"/><span>0</span><br>
    <% if @next_link %>
        <h3><%= link_to "Next question", play_quiz_path(current_quiz) %></h3>
    <% end %>
</main>

