<header>
  <%= javascript_include_tag "myScript", type: "text/paperscript", canvas: "myCanvas" %>
    <h1>Color Quiz</h1>
<!--     <p>The human eye is incredibly capable; you might not feel that way after trying this quiz. Color vision is contextual, and isolating a color from its context is a challenge. But if you get good at it, you'll paint better.</p>
 --></header>
<%= content_tag(:main, style: "width: #{@image.width}px") do %>
    <%= content_tag(:canvas, id: "myCanvas", width: @image.width , height: @image.height, data: {spots: @image.spots}) do %>
        <%= image_tag(@image.img.url(:full), id: "game-image") %>
    <% end %>
<% end %>

    <%= form_for(@round) do |round_form| %>
        <%= round_form.hidden_field :image_id, value: @image.id %>
        <%= content_tag :table do %>
            <%= content_tag :tr do %>
                <%= round_form.fields_for :guesses, @round.guesses do |round_fields| %>
                    <td class="guess">
                        <div class="semi left"></div><div class="semi right"></div>
                        <input type='text' class="full" />
                        <%= round_fields.hidden_field :spot_id, value: @image.spots[round_fields.index][:id] %>
                        <%= round_fields.hidden_field :color %>
                    </td>
                <% end %>
            <% end %>
        <% end %>
        <%= submit_tag %>
    <% end %>

    <pre>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </pre>

    <form action="">
        <input type="color">
    </form>
</main>

